@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Cinzel:wght@400;500;600;700;800&family=Ewert&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display:none
}

@layer utilities {
  .spin1deg{
    animation: spin1g 9s infinite;

  }
  .-spin1deg{
    animation: spin1g 9s infinite reverse;
  }
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}




@keyframes spin1g {
  0%{
    transform: rotate3d(1,1,1,44deg);
  }
  25%{
    transform: rotate3d(1,1,1,-44deg);
  }
  50%{
    transform: rotate3d(1,1,1, 360deg);
  }
  75%{
    transform: rotate3d(1,1,1, -44deg);
  }
  100%{
    transform: rotate3d(1,1,1, 44deg);
  }
}