@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Cinzel:wght@400;500;600;700;800&family=Ewert&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display:none
}

@layer utilities {
  .spin1deg{
    animation: spin1g 3s infinite alternate;

  }
  .-spin1deg{
    animation: spin1g 3s infinite alternate-reverse;
  }
}




@keyframes spin1g {
  0%{
    transform: rotate(1deg);
    transform: rotate3d(1,1,0,45deg);
  }
  33%{
    transform: rotate(-1deg);
    transform: rotate3d(0,1,1,-45deg);
  }
  66%{
    transform: rotate(1deg);
    transform: rotate3d(1,0,1,45deg);
  }
  66%{
    transform: rotate(1deg);
    transform: rotate3d(0,0,1,-45deg);
  }
}